@CHARSET "UTF-8";

body {
	padding-top: 70px;
}

header {
	background-color: black;
	text-align: center;
	color: white;
	padding: 10px;
	box-shadow: 1px 3px 8px #888888;
}

nav {
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

nav ul {
	list-style: none;
	position: relative;
	float: left;
	display: block;
	left: 50%;
}

nav ul li {
	position: relative;
	float: left;
	display: block;
	right: 50%;
}

footer {
	background-color: black;
	text-align: center;
	color: white;
}

/* Mobile */
@media ( max-width : 767px) {
	.slider-size {
		height: 200px;
	}
	.slider-size>img {
		width: 80%;
	}
}

/* tablets */
@media ( max-width : 991px) and (min-width: 768px) {
	.slider-size {
		height: 400px;
	}
	.slider-size>img {
		width: 80%;
	}
}

/* laptops */
@media ( max-width : 1023px) and (min-width: 992px) {
	.slider-size {
		height: 500px;
	}
	.slider-size>img {
		width: 80%;
	}
}

/* desktops */
@media ( min-width : 1024px) {
	.slider-size {
		height: 625px;
	}
	.slider-size>img {
		width: 100px;
	}
}

#pic1 {
	background-image: url("../pictures/slide/3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pic2 {
	background-image: url("../pictures/slide/2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#pic3 {
	background-image: url("../pictures/slide/1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.carousel-inner {
	background: black;
}

.album-small {
	height: 200px;
	margin: 20px;
	box-shadow: 5px 8px 5px #888888;
}

.album-large {
	width: 325px;
	float: left;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	box-shadow: 4px 4px 8px #888888;
}

#stores {
	vertical-align: middle;
	margin-bottom: 30px;
	background-color: #c0c0c0;
	border-top: 1px solid black;
	box-shadow: inset 0 20px 10px -20px rgba(0, 0, 0, 0.8);
}

.logos {
	width: 75px;
	float: left;
}

#spotify:HOVER, #itunes:HOVER, #googlePlay:HOVER, #beats:HOVER, #rdio:HOVER,
	#deezer:HOVER, #amazon:HOVER, #tidal:HOVER, #img_eternal:HOVER,
	#img_thronehall:HOVER, #img_closer:HOVER, #img_golgotha:HOVER,
	#img_peniel:HOVER {
	opacity: 0.6;
	cursor: pointer;
}

article {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	min-width:  100%;
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -50%);
}


